/* purgecss start ignore */
@tailwind base;

/* Fonts */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('./fonts/nunito-v12-latin-regular.woff2') format('woff2'),
       url('./fonts/nunito-v12-latin-regular.woff') format('woff');
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('./fonts/nunito-v12-latin-700.woff2') format('woff2'),
       url('./fonts/nunito-v12-latin-700.woff') format('woff');
}

/* nunito-900 - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'),
       url('./fonts/nunito-v12-latin-900.woff2') format('woff2'),
       url('./fonts/nunito-v12-latin-900.woff') format('woff');
}

body {
  @apply font-pokemon bg-black text-lg leading-normal min-h-screen flex;
}

/* Entry common styles */
#entry {
  @apply bg-white m-auto max-w-sm min-h-screen;
}

#entry > header {
  @apply px-8 pt-4 relative;
}

#entry > header a {
  @apply font-bold;
}

#entry > header a svg {
  @apply stroke-current inline-block -mt-1;
}

#entry > header h1 {
  @apply leading-none text-4xl font-black my-4;
}

#entry > header h1 small {
  @apply block text-xl opacity-75;
}

#entry > header img {
  @apply mt-4 mx-auto relative z-10 w-64 h-64 block;
}

#entry > div {
  @apply bg-white text-gray-800 -mt-10 pt-12 px-8 pb-4 relative;
  border-radius: 1.5rem 1.5rem 0 0;
}

#entry > div > * + * {
  @apply mt-4;
}

#entry > div * + h2 {
  @apply mt-6;
}

#entry > div h2 {
  @apply text-gray-600 text-2xl font-bold leading-none;
}

#entry > div h2 + * {
  @apply mt-2;
}

.button {
  @apply bg-blue-500 border-4 border-blue-700 text-white font-bold rounded-lg text-center block w-full transition-colors duration-200 py-2;
}

.button:hover,
.button:focus {
  @apply bg-blue-600 border-blue-800;
}

.button:active {
  @apply bg-blue-700 border-blue-900;
}

.text {
  @apply mx-4 my-4 bg-gray-300 border-4 border-red-900 rounded-lg p-4;
}

.text > h3 {
  @apply text-2xl font-black text-center leading-none;
}

.text > * + * {
  @apply mt-4;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
