/* css reset base thanks to https://hankchizljaw.com/wrote/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v12-latin-regular.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-regular.woff') format('woff');
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('../fonts/nunito-v12-latin-700.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-700.woff') format('woff');
}

/* nunito-900 - latin */
@font-face {
  font-family: 'Nunito';
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'),
       url('../fonts/nunito-v12-latin-900.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-900.woff') format('woff');
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption {
  margin: 0;
}

/* Set core body defaults */
body {
  background-color: black;
  display: flex;
  font-family: 'Nunito',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Inherit fonts for buttons */
button {
  background: none;
  border: 0;
  font: inherit;
}

/* Sane image defaults */
img {
  display: block;
  max-width: 100%;
}


/* main app styles */
main {
  background-color: #c53030;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  min-height: 640px;
  min-width: 360px;
}

.pokedex {
  position: relative;
}

.pokedex > header {
  background-color: #9b2c2c;
  border-bottom: .25rem solid #742a2a;
  display: flex;
  padding: 1rem;
  position: relative;
}

.pokedex > header::before {
  background-color: #4fd1c5;
  border: .25rem solid #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 3rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
}

.pokedex > header::after {
  background-color: #fc8181;
  border-radius: 50%;
  box-shadow:
    1.5rem 0 0 #faf089,
    3rem 0 0 #68d391;
  content: '';
  display: block;
  height: 1rem;
  position: absolute;
  left: 4.5rem;
  top: .5rem;
  width: 1rem;
}

.pokedex > header > .trainer {
  background-color: #68d391;
  border: .25rem solid #742a2a;
  border-radius: .5rem;
  color: #22543d;
  line-height: 1;
  margin-left: auto;
  padding: .25rem 1.25rem;
}

.pokedex > ul {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: 10rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 1rem;
}

.pokedex > ul > li {
  background-color: #e2e8f0;
  border: .25rem solid #742a2a;
  border-radius: .5rem;
  padding: 1rem;
}

.pokedex > ul > li > a {
  display: block;
  height: 100%;
}

.pokedex > ul > li img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.pokedex > footer {
  background-color: #9b2c2c;
  border-top: .25rem solid #742a2a;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  position: sticky;
  bottom: 0;
}

.pokedex > footer::before {
  background-color: #742a2a;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4.5rem;
  position: absolute;
  top: -2.355rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5rem;
  z-index: -1;
}

.pokedex > footer > button {
  border-top-color: #e53e3e;
  border-left-color: #e53e3e;
  border-bottom-color: #f7fafc;
  border-right-color: #f7fafc;
  border-radius: 50%;
  border-style: solid;
  border-width: 2rem;
  /* box-shadow: 0 -.125rem .5rem #2d3748; */
  padding: 0;
  position: absolute;
  top: -2.125rem;
  transform: rotate(45deg);
  z-index: 2;
}

.pokedex > footer > button::after {
  background-color: #2d3748;
  border-radius: 50%;
  content: '';
  display: block;
  height: 1rem;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translateX(50%) translateY(50%);
  width: 1rem;
}
